html,
body,
#iframe 
{ 
    min-height: calc(100% - 55px);
}
body,
p,
a,
li
{
    color: #fffefe;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a
{
    text-decoration: none;
    -webkit-transition: 250ms linear all;
	-moz-transition: 250ms linear all;
	transition: 250ms linear all; 
}

#switcher 
{
    background: #0A1D33;
    width: 100%;
	height: 55px;
	z-index: 99999!important;
	position: fixed;
	top: 0;
	float: left;
	transition: all 300ms;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#switcher .logo 
{
    padding: 0;
	height: 100%;
    float: left;
}

#switcher a.themes-open
{
	border-left:1px solid rgba( 255, 255, 255, 0.1 );
	border-right:1px solid rgba( 255, 255, 255, 0.1 );
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 15px 35px 15px 15px;
	line-height: 25px;
	float: left;
	width: 350px;
	position: relative;
	&.selected{
		i{
			transform: rotate(180deg);
		}
	}
}
#switcher a.themes-open i{
	transition: all 300ms;
	position: absolute;
	right: 15px;
	top: calc(50% - 5px);
}
.choose-theme{
	float: left;
	position: relative;
	a{
		display: inline;
		padding:10px 0;
	}
}
.choose-theme ul{
	margin: 0 0 20px;
	padding: 0;
}
.choose-theme .theme-list{
	background-color: #0A1D33;
	left: 0;
	margin: 0;
	height: auto;
	max-height: 65vh;
	padding: 10px 15px;
	position: absolute;
	top: 100%;
	width: 350px;
	z-index: 9;
	display: none;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 0 0 30px -10px rgba(0,0,0,0.2);
}
.wrap-theme-list{
	width: 100%;
	margin:0 0 10px;
	padding:0;
}
.theme-list .theme-thumb{
	background-color: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	display: none;
	max-width: 286px;
	padding: 2px;
	position: absolute;
	right: -100%;
	top: 8px;
	z-index: 9;
}
.theme-list .theme-thumb:before{
	background-color: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	content: "";
	height: 10px;
	left: -5px;
	position: absolute;
	top: 10px;
	transform: rotate(45deg);
	width: 10px;
	z-index: -1;
}
.theme-list .theme-thumb img{
	max-width: 100%;
	width: 100%;
}
#switcher .theme-list ul li{
	display: block;
}
.theme-list a:hover .theme-thumb{
	display: block;
}
.theme-list a{
	color: #fff;
	display: flex;
	justify-content: space-between;
	font-weight: normal;
	text-transform: capitalize;
	position: relative;
	align-items: flex-start;
}
.theme-list .theme-column{
	width: 25%;
	float: left;
	padding-right: 20px;
}
.theme-list .theme-column:last-child{
	padding-right: 0;
}
.item-tag{
	font-size: 10px;
	text-transform: uppercase;
	background: #0071bd;
	color: #fff;
	padding:3px 5px;
	border-radius: 2px;
	line-height: 12px;
	white-space: nowrap;
	&.wordpress, &.wordpress-theme{
		background: #207195;
	}
	&.plugin, &.wordpress-plugin{
		background: #009bab;
	}
	&.magento, &.magento-theme{
		background: #ea6426;
	}&.extension, &.magento-extension{
		background: #f74c00;
	}
	&.shopify, &.shopify-theme{
		background: #91b947;
	}&.app, &.shopify-app{
		background: #00add0;
	}
}
.wrap-left, .list-action-links:not(.stick-button){
	width: calc(50% - 65px);
}
#responsive{
	width: 130px;
}
#responsive ul
{
    float: left;
	margin:0;
}

#responsive ul li
{
    float: left;
    padding: 13px 15px;
}

#responsive ul li a
{
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6; 
}

#responsive ul li a:hover, #responsive ul li a.active
{
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; 
}

#switcher ul li
{
	display: inline;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.1 );
}

#switcher .right
{
	float: right;
	margin: 0;
	padding: 0;
}
.list-action-links{
	display: flex;justify-content: flex-end;
}
.list-action-links li a
{
	font-size: 12px;
	float: left;
	padding: 15px 25px;
	line-height: 25px;
	margin-right: 1px;
	i{
		padding-right: 3px;
	}
}

.list-action-links li.support-link a{
	border-left: 1px solid rgba( 255, 255, 255, 0.1 );
	border-right: 1px solid rgba( 255, 255, 255, 0.1 );
}
.list-action-links li.purchase a{
	background:  #7ABF28;
	margin:0;
}
.list-action-links li.remove_frame a
{
	background:#0A1D33;
	padding: 14px 18px;
	height: 55px;
	margin:0;
}

.list-action-links li a:hover
{
	background: #ffffff;
	color: #2b363e;
	font-size: 12px;
	float: left;
}

.current-theme-name{
	font-size: 11px;
	line-height: 45px;
	padding: 0 20px;
	text-transform: uppercase;
}

.theme-item{
	margin: 10px;
}

.theme-item img{
	max-width: 100%;
}

#push,
#aside
{
	-webkit-transition: 150ms linear all;
	-moz-transition: 150ms linear all;
	transition: 150ms linear all; 
}

#aside
{
	overflow-y: scroll;
    position: fixed;
    left: -400px;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background: #20282e;
}

#aside.toggled
{
	left: 0;
}

#aside::-webkit-scrollbar
{
	background: #20282e!important;
	color: #20282e!important;
}

#aside::-webkit-scrollbar-thumb
{
	background: #20282e!important;
	color: #20282e!important;
}

#aside h4
{
	font-size: 16px;
	margin-bottom: 35px;
}

#aside ul li
{
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
	font-weight: 500;
	text-transform: uppercase;
}

#aside ul li:last-child
{
	margin-bottom: 25px;
	border-bottom: none;
}

#aside ul li a
{
	font-size: 11px;
	color: #ffffff;
    color: rgba( 255, 255, 255, 0.6 );
}

#aside ul a:hover
{
	color: #ffffff;
}

#aside .type
{
    padding: 1px 4px 0 4px;
    margin-top: -1px;
    border-radius: 2px;
    font-size: 10px;
    float: right;
}

#aside .type.wp
{
    background: #21759b;
    color: rgba( 255, 255, 255, 0.6 );
}

#aside .type.html
{
    background: #bada55;
    color: rgba( 0, 0, 0, 0.6 );
}

#aside p.notes
{
	font-size: 11px;
	line-height: 14px;
	color: rgba( 255, 255, 255, 0.4 );
	text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.1 );
}

img#preview
{
	background: #0a1d33;
	padding: 25px;
	width: 550px!important;
	height: 300px!important;
	position: absolute;
	z-index: 99999!important;
	top: 100%;
	display: none;
}

.desktop 
{
	width: 100%;
	height: 100%;
}

.tablet,
.mobile
{
	margin-top: 100px!important;
}

.tablet 
{
	margin-top: 30px;
	width: 535px;
	height: 783px !important;
	padding: 65px 27px 78px 28px;
	background: url("../img/tablet.png") no-repeat;
	#iframe{
		height: 100%;
	}
}

.mobile 
{
    width: 357px;
    height: 715px!important;
	margin: 0 auto;
	background: url("../img/mobile.png") no-repeat;
	padding: 92px 19px 102px 19px;
	
}
#wrapper{
	height: 55px;
	transition: all 300ms;
}
#frame_wrapper 
{
    height: calc(100% - 55px);
	position: relative;
	z-index: 50;
	margin: 0 auto;
	transition: all 300ms;
}

#frame_wrapper.tablet iframe,
#frame_wrapper.mobile iframe
{
	height: 100%!important;
}
.list-action-links.stick-button{
	position: fixed;
	right: 0;
	top:0;
	background: rgb(175, 88, 117);
	transition: all 300ms;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	height: 45px;
	li a{
		height: 100%;
		padding:10px;
		text-align: center;
		width: 45px;
		&:hover{
			background: transparent;
			color: #fff;
		}
	}
}
body.full-preview{
	#wrapper{
		height: 0;
	}
	#frame_wrapper{
		margin-top:0;
		height: 100%;
		max-height: 100%;
	}
	#switcher{
		top:-55px;
	}
	.stick-button{
		opacity: 1;
		visibility: visible;
	}
}
.wrap-loader{
	position: absolute;left: 0;
	top:0;
	width: 100%;
	height: 100%;
	transition: all 500ms;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
#frame_wrapper.loading{
	width: 100vw;
	height: 100vh;
	position: relative;
	#iframe{
		visibility: hidden;opacity: 0;
	}
	.wrap-loader{
		opacity: 1;
		visibility: visible;
	}
}

//variables
$size          : 50px;
@mixin transform($var){
	transform: $var;
}
@mixin animation($var){
	animation: $var;
}@mixin animation-delay($var){
	animation-delay: $var;
}@mixin opacity($var){
	opacity: $var;
}@mixin filter($var){
	filter: $var;
}@mixin border-radius($var){
	filter: $var;
}
//cube only
.cube-folding{
	width: $size;
	height: $size;
	display: inline-block;
	@include transform(rotate(45deg));
	font-size: 0;
	span{
		position: relative;
		width: $size/2;
		height: $size/2;
		@include transform(scale(1.1));
		display: inline-block;
		&::before{
			content: '';
			background-color: #0a1d33;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: $size/2;
			height: $size/2;
			-moz-transform-origin: 100% 100%;
			-ms-transform-origin: 100% 100%;
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
			@include animation(folding 2.50s infinite linear both);
		}
	}
	.leaf2{
		@include transform(rotateZ(90deg) scale(1.1));
		&::before{
			@include animation-delay(.30s);
			background-color: darken(#0a1d33, 5%);
		}
	}
	.leaf3{
		@include transform(rotateZ(270deg) scale(1.1) );
		&::before{
			@include animation-delay(.90s);
			background-color: darken(#0a1d33, 5%);
		}
	}
	.leaf4{
		@include transform(rotateZ(180deg) scale(1.1));
		&::before{
			@include animation-delay(.60s);
			background-color: darken(#0a1d33, 10%);
		}
	}
}

//animation
@keyframes folding{
	0%, 10%{
		@include transform(perspective(140px) rotateX(-180deg));
		@include opacity(0);
	}
	25%, 75%{
		@include transform(perspective(140px) rotateX(0deg));
		@include opacity(1);
	}
	90%, 100%{
		@include transform(perspective(140px) rotateY(180deg));
		@include opacity(0);
	}
}